div.modal.fade#app_dialog(role='dialog')
  div.modal-dialog
    div.modal-content
      div.modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title#app_dialog_header
      div.modal-body
        p: span#app_dialog_message
      div.modal-footer
        button.btn.btn-default#close_app_dialog(data-dismiss="modal",type="button") Close
