div.container-fluid
  div.jumbotron
    h1 The File Stager 
    p A web application for transferring a large amount of data between #{fs_server_local} and #{fs_server_remote} in an efficient way, including failure recovery and e-mail notification.
    a.btn.btn-primary(data-toggle="tab", data-target='#panel_transfer_request') Get Started
 
//    p Let the File Stager help you.
//    div.panel.panel-default.collapse(id="intro_panel")
//      div.panel-body
//        p It takes over management hassles. 
//    button.btn.btn-link(data-toggle="collapse" data-target="#intro_panel") Tell Me More
