div.container-fluid
  div.page-header
    h1= title_history
    
  <!-- dialog modal panel for job confirmation -->
  div.modal.fade#job_action_dialog(role='dialog')
    div.modal-dialog
      div.modal-content
        div.modal-header
          h4.modal-body Job action 
        div.modal-body.scroll-able
          p: span#job_action_msg
        div.modal-footer
          button.btn.btn-default#confirm(data-dismiss="modal",type="button") OK
          button.btn.btn-danger#cancel(data-dismiss="modal",type="button") Cancel

  <!-- panel of historical jobs -->
  div.panel.panel-default
    div.panel-heading
        div.row: div.col-md-12
            div.pull-right
              input#history-refresh-toggle(type='checkbox')
              span &nbsp;&nbsp;
              button.btn.btn-default.disabled#button_refresh_history
                i.fa.fa-refresh
    div.panel-body#job_history
        table.display#job_table(cellspacing="0", width="100%")
            thead: tr
                th
                th.dt-head-center ID
                th.dt-head-left From
                th.dt-head-left To
                th.dt-head-left State
                th.dt-head-center Progress (%)
